<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id$ -->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Allberg.Shooter.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Allberg.Shooter.Windows.Properties.Settings>
            <setting name="WinShooter_ErrorReporter_Service" serializeAs="String">
                <value>http://www.winshooter.se/Errorreport/service.asmx</value>
            </setting>
            <setting name="WinShooter_UpdateCache_UpdateCache" serializeAs="String">
                <value>http://www.winshooter.se/Upload/UpdateCache.asmx</value>
            </setting>
        </Allberg.Shooter.Windows.Properties.Settings>
    </applicationSettings>
  <system.windows.forms jitDebugging="true" />
</configuration>